<div class="row" style="margin-top:20px">
    <div class="col-xs-8 col-sm-12 col-md-4 col-md-offset-4 col-centered">
        <form role="form" ng-submit="login()">
            <fieldset>
                <h2 class="text-center">Sign In</h2>
                <h3 class="text-center text-danger" ng-show="LoginError">{{ LoginError }}</h3>
                <hr class="colorgraph">
                <div class="form-group">
                    <input type="text" name="username" id="username" ng-model="username" class="form-control input-lg" placeholder="User Name">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" ng-model="password" class="form-control input-lg" placeholder="Password">
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <a href="#/register" class="btn btn-lg btn-primary btn-block">Register</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
