<div class="container">
    <div class="page-header">
        <h1 id="timeline">Availble Chat Rooms <a class="btn btn-md btn-info pull-right" ng-click="logout()" >Logout</a></h1>
    </div>
    <div class="col-md-4 col-xs-12 col-centered">
        
        <div class="panel panel-primary" ng-repeat="room in chatrooms">
            <a class="btn btn-md btn-block btn-info"  href="#/chat/{{room.code}}">{{room.channelname}}</a>
        </div>
    </div>

</div>
