<div class="container">
    <div class="page-header">
        <h1 id="timeline">Chat Room <a class="btn btn-md btn-info pull-right"  ng-click="logout()" style="color:orange;">Logout</a>&nbsp;<a class="btn btn-md btn-primary pull-right"  ng-click="clearchat()" >Clear Chat</a></h1>
    </div>
    <ul class="timeline">
        <li ng-class="(msg.type==message) ? 'timeline-inverted' : ''"  ng-repeat="msg in messages">
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{msg.user}}</h4>
            </div>
            <div class="timeline-body">
            {{msg.text}}
            </div>
          </div>
        </li>
    </ul>
    <div style="clear:both"></div>
    <form ng-submit="sendmessage()" class="col-md-8 col-centered">
    <div class="form-group">
    <input type="text" class="form-control input-lg input-sm" placeholder="Message" className="message-toolbar" ng-model="msgvalue" />    
    </br>
    <input type="submit" class="btn btn-md btn-primary btn-block"  style="display:inline;" value="Send"></input>
    </div>
    </form>
</div>

