<div class="row" style="margin-top:20px">
    <div class="col-xs-8 col-sm-12 col-md-4 col-md-offset-4 col-centered">
        <form role="form" ng-submit="register()">
            <fieldset>
                <h2 class="text-center">Register</h2>
                <h3 class="text-center text-danger" ng-show="RegisterError">{{ RegisterError }}</h3>
                <hr class="colorgraph">
                <div class="form-group">
                    <input type="text" name="username" id="username" ng-model="username" class="form-control input-lg" placeholder="User Name">
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email" ng-model="email" class="form-control input-lg" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" ng-model="password" class="form-control input-lg" placeholder="Password">
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-centered">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Register">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
